 <!-- Title -->

<!--  <span class="info2 storm"></span>
 --> <!-- <span class="info2 sunny"></span> -->
 <span class="info2 {{classWeather}}"></span>

 <h4 class="card-title font-weight-bold">{{ville}}</h4>
 <!-- Text -->
 <h6>{{type}}, {{weather}}</h6>
 <div class="d-flex justify-content-between">
   <p class="display-1 degree">{{temp}} &deg; C</p>
   <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
 </div>
 <br>
 <br>
 <br>
 <div class="d-flex justify-content-between mb-4">
   <p>
     <i class="fas fa-tint fa-lg text-info pr-2"></i>{{hum}}%
     Precipitation
   </p>
   <p>
     <i class="fas fa-leaf fa-lg grey-text pr-2"></i>{{wind}} km/h vent
   </p>
 </div>
