<div class="cont">
    <mat-card class="card">
        <mat-card-title class="info">{{type}}</mat-card-title>
        <div class="info">
            <p>
                <b>T° : {{temp}} °C</b>
            </p>
        </div>
        <div class="info">
            <p>
                <b>humidity: {{hum}} %</b>
            </p>
        </div>
        <div class="info">
            <p>
                <b>weather : {{weather}}</b>
            </p>
        </div>
    </mat-card>
</div>