<mat-toolbar color="primary" class="tool">
    <button (click)="openMap()" mat-button>
        {{ ville }}
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <section class="menu-header">
        <div class="profile-image__container">
            <img src="https://avatars3.githubusercontent.com/u/5658460?s=460&v=4" alt="profile-image" class="profile__image">
        </div>
        <div class="account-details">
            <span class="name__text">Hamed Baatour</span>
        </div>
    </section>
</mat-toolbar>

<app-weather-main-element></app-weather-main-element>
<app-weather-list></app-weather-list>