<img class="wave" src="assets/images/wave.png" />
<div class="container">
    <div class="img">
        <img src="assets/images/bg.svg" />
    </div>
    <div class="login-content">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="row">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <img src="assets/images/avatar.svg" />
                    <h2 class="title">Inscription</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Nom d'utilisateur</h5>
                            <input formControlName="username" type="text" class="input" />
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Nom Complet</h5>
                            <input formControlName="name" type="text" class="input" />
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Mot de passe</h5>
                            <input formControlName="password" type="password" class="input" />
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Confirmer mot de passe</h5>
                            <input formControlName="confirm_password" type="password" class="input" />
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Date de naissance</h5>
                            <input formControlName="bird_date" type="text" class="input" />
                        </div>
                    </div>
                    <input [disabled]="registerForm.invalid" type="submit" class="btn" value="Inscription" [routerLink]="['weather']" />
                </form>
            </div>
            <div class="row">
                <div class="row">
                    <button class="btn" [routerLink]="['']">Connexion</button>
                </div>
            </div>
        </div>
    </div>
</div>
